{% extends '../templates/base.twig' %}

{% set PID = '00' %}

{% set PAGE = '' %}
{% for data in pages %}
    {% if data.id == PID %}
        {% set PAGE = data %}
    {% endif %}
{% endfor %}

{% block main %}
    <main>
        <ul class="c-nav-list">
            {% for item in pages %}
                {% if loop.index > 1 %}
                    <li>
                        <a href="{{ item.href }}">
                            {% if item.list %}
                                {% include '../_misc/_postcard-list.twig' with { data: item } %}
                            {% else %}
                                <img src="{{ App[0].pImg }}/{{ item.id }}.{{ item.isImgPng ? 'png' : 'jpg' }}" width="{{ item.imgW }}" height="{{ item.imgH }}" alt="{{ item.title }}">
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            <li>
                <a href="mailto:acbka79005@gmail.com?subject=feedback">
                    <img src="{{ App[0].pImg }}/20000.png" width="1242" height="1224" alt="feedback">
                </a>
            </li>
        </ul>
    </main>
{% endblock %}
