{% extends '../templates/base.twig' %}

{% set PID = '00' %}

{% set PAGE = '' %}
{% for data in pages %}
    {% if data.id == PID %}
        {% set PAGE = data %}
    {% endif %}
{% endfor %}

{% block main %}
    <main>
        <ul class="c-nav-list">
            {% for item in pages %}
                {% if loop.index > 1 %}
                    {% if loop.index == 4 %}
                        <li></li>
                    {% endif %}

                    <li>
                        <a href="{{ item.href }}">
                            {# {{ item.title }} #}
                            <img src="{{ App[0].pImg }}/{{ item.id }}.jpg" width="2156" height="3026" alt="{{ item.title }}">
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </main>
{% endblock %}
